{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}



{{!-- <div class="p-5 box">

    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <h2 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h2>

    <button type="button" class="button" id="button">Купити</button>

    <p class="user">Link</p>

</div>

<section class="p-5 box">

    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <p class="user">Link></p>

</section>

<footer class="p-5 box">

    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <p class="user">
        <em class="child">Test EM</em>
    </p>
    <div>
        <div>
            <em class="child">Test EM</em>
        </div>
    </div>
    <div class="child">Test EM</div>

</footer> --}}

{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}

    {{!-- <div class="card p-5 m-5 card-dark">
        <ul>
            <div class="item">First</div>
            <div class="item">First</div>
            <div class="item">First</div>
            <p class="item">Second</p>
            <p class="item">Second</p>
            <p></p>
            <strong class="item">TEXT</strong>
            <article class="item">Test</article>
            <article class="item">Test</article>
            <article class="item">Test</article>
        </ul>
    </div> --}}
    {{!-- <div class="card p-5 m-5 card-dark">
        <input class="input-dark p-2" placeholder="This is Text" required>
        <input class="input-dark" type="number">
    </div>

    <div class="card p-5 m-5 card-dark">
        <img alt="image small card 100px " class="small-img" src="https://picsum.photos/200/300" height="100px">
        <a href="https://picsum.photos/200/300" rel="external">LINK</a>
        <br>
        <button class="btn before-after">Click Me</button>
        <br>
        <a class="small btn btn-secondary tyty-big before-after" href="https://picsum.photos/200/300">Click Me</a>
    </div>

    <div class="card p-5 m-5 card-dark">
        <p class="before-after">
            This is text about thg <br>This is text about thg
        </p>
    </div> --}}
    <div lang="fr" class="card p-5 m-5 card-dark">
        <a class="link" href="https://en.wikipedia.org/wiki/Google_Test">Click Me</a>
    </div>

    <div lang="en" id="test" class="card p-5 m-5 card-dark">
        <input>
        <span>HELLO WORLD</span>
        <button> Test Button</button>
    </div>

    <div class="p-5 m-5 card-dark">
        <button> Test Button</button>
        <button disabled> Disabled Button</button>
    </div>

    <div class="card p-5 m-5 card-dark">
        <input class="inp" readonly>
        <div class="mt-5">
            <div>
                <input type="checkbox" checked>
                <span>First Checkbox</span>
            </div>
            <div>
                <input type="checkbox">
                <span>Second Checkbox</span>
            </div>
        </div>
    </div>

    <div class="p-5 m-5 card-dark">
        <div>
            <input type="email" required class="valid" placeholder="test">
            <span>Test text</span>
        </div>

        <div class="mt-5"><input type="number" min="10" max="20" required class="number"></div>
    </div>